/* Typing Race Game Custom Styles */
#typingBox {
    width: 80%;
    margin: 24px auto 24px auto;
    display: block;
    padding: 14px 18px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid #1E1E1E;
    box-sizing: border-box;
    resize: none;
}

#typing-quote {
    margin-top: 32px;
    margin-bottom: 10px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF7EC; /* off-white gameboy screen */
    image-rendering: pixelated;
    font-family: 'Jersey 10';
}

@font-face {
    font-family: 'Jersey10';
    src: url("{{fontJersey10}}") format("truetype")
}

@font-face {
    font-family: 'JetBrains';
    src: url("{{fontJetBrains}}") format("truetype")
}


.top-bar {
    height: 50px;
    border-bottom: 2px solid #1E1E1E;
    background: #A12523;
    padding: 20px;
}

.gameboy-shell {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-title {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

.game-title div {
    margin-right: 10; 
}

.bar-icon {
    background-color: #FCD8CC;
    height: 30px;
    width: 30px;
    padding: 10px;
    border: 2px solid #1E1E1E;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.bar-icon:hover {
    transform: translateY(-5px); /* Moves it up */
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.8); /* solid shadow */
}

.game-title h1 {
    margin: 0;
    margin-right: 10px;
}

.sub-header {
    font-size: 20px;
    position: relative;
    top: -20px;
    font-family: 'JetBrains Mono';
}

.header {
    background: #A12523;
    color: white;
    height: 50%;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid #1E1E1E;
    width: 90%;
}

.header h1 {
    font-size: 70px;
}

.header > h1 {
    margin: 0;
    margin-top: 10px;
    font-size: 60;
}

.header > h2 {
    font-size: 40px;
    font-family: 'JetBrains Mono';
    margin-top: 0;
    position: relative;
    top: -15px;
}

.crashout {
    position: relative;
    top: -20px
}

.battle-sub-header {
    font-size: 15px;
    position: relative;
    top: -40px;
    font-family: 'JetBrains Mono';
    font-weight: 200;
}

.fighter-option {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;

    background: #FCD8CC;
    border: 2px solid #1E1E1E;
    border-radius: 14px;

    padding: 20px;
    margin-bottom: 20px;
    height: 60px;
    cursor: pointer;
    text-align: center;
}

.fighter-icon {
    background-color: #FFF7EC;
    padding: 10px;
    border: 2px solid #1E1E1E;
    border-radius: 18px;
    width: 70px;
}

.fighter-text {
    width: 100%;
    margin-right: 30px;
}

.fighter-option:hover {
    background: #f6d5cb;
    transform: translateY(-5px); /* Moves it up */
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.8); /* solid shadow */
}

.fighter-option img {
    width: 48px;
    height: 48px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.fighter-name {
    font-size: 40px;
    color: #A12523;
}

.fighter-role {
    font-size: 15px;
    color: #333;
    opacity: 0.7;
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    color: #A12523;
}

.button-wheel {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.spin-btn {
    font-family: 'Jersey 10';
    font-size: 40px;
    padding: 5px 20px;
    border: 2px solid #1E1E1E;
    border-radius: 15px;
    color: #FCD8CC;
    background-color: #C84C42;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 20px;
}

.spin-btn:hover {
    background: #C84C42;
    transform: translateY(-5px); /* Moves it up */
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.8); /* solid shadow */
}

.game-page {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-name {
    font-size: 70px;
    color: #A12523;
    margin-bottom: 10px;
}

.player-boxes {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    color: #1E1E1E;
}

.player {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    background-color: #FCD8CC;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120px;
    width: 180px;
    border: 2px solid #1E1E1E;
    border-radius: 15px;
}


.opponent {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    background-color: #FCD8CC;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120px;
    width: 180px;
    border: 2px solid #1E1E1E;
    border-radius: 15px;
}

.game-box {
    background-color: white;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
    width: 90%;
    min-height: 500px;
    margin: auto 0px;
    color: #1E1E1E;
}

.win-lose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
font-size: 90px;
color: #A12523;
}

.win-lose-text {
    margin: 0;

}

.bottom-text {
    margin-top: 0;
    position: relative;
    top: -80px;
}

.applying {
    margin-top: 0;
    font-size: 35px;
    position: relative;
    top: -200px;
}

.exit-btn {
    position: relative;
    top: -200px;
    background-color: #FCD8CC;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
    font-size: 40px;
    padding: 0px 25px;
    font-family: 'Jersey 10';
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
}

.exit-btn:hover {
    transform: translateY(-5px); /* Moves it up */
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.8); /* solid shadow */
}
